<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/header_footerMain.css">
    <link rel="stylesheet" href="/css/ProductCart.css">
    <title>Todo deportes</title>
</head>

<body>
    <%- include("../partials/header") %>
    <main>
        <div class="h2-envio">
            <h2>Envio gratis y 12 cuotas sin interes!</h2>
        </div>
        <hr class="hr-1">
        <section>
            <ul id="lista-productos-carrito"></ul>
        </section>
        <section>
            <div class="container-precio-total">
                <h3 id="total-compra"></h3>
            </div>
            <div class="container-botones">
                <form action="/productos/carrito" method="post">
                    <input type="hidden" id="arrInputProductos" name="arrInputProductos">
                    <input type="hidden" id="inputTotal" name="inputTotal">
                    <button class="boton-comprar" type="submit">Finalizar compra</button>
                </form>
            </div>
        </section>
        <hr class="hr-1">
        <section>
            <h2 class="h2-otros-productos">Otros clientes tambien vieron</h2>
            <div class="container-otros-productos">
                <div class="container-producto-otros">
                    <a href="/productos/detalle/<%= productos[2].id %>">
                        <div class="container-imagen"><img class="img-producto" src="/images/ProductDetail/<%= productos[2].img1 %>" alt="Foto producto"></div>
                        <div class="nombre-producto"><h2 ><%= productos[2].name %></h2></div>
                    </a>
                </div>
                <div class="container-producto-otros">
                    <a href="/productos/detalle/<%= productos[6].id %>">
                        <div class="container-imagen"><img class="img-producto" src="/images/ProductDetail/<%= productos[6].img1 %>" alt="Foto producto"></div>
                        <div class="nombre-producto"><h2 ><%= productos[6].name %></h2></div>
                    </a>
                </div>
                <div class="container-producto-otros">
                    <a href="/productos/detalle/<%= productos[4].id %>">
                        <div class="container-imagen"><img class="img-producto" src="/images/ProductDetail/<%= productos[4].img1 %>" alt="Foto producto"></div>
                        <div class="nombre-producto"><h2 ><%= productos[4].name %></h2></div>
                    </a>
                </div>
                <div class="container-producto-otros">
                    <a href="/productos/detalle/<%= productos[5].id %>">
                        <div class="container-imagen"><img class="img-producto" src="/images/ProductDetail/<%= productos[5].img1 %>" alt="Foto producto"></div>
                        <div class="nombre-producto"><h2 ><%= productos[5].name %></h2></div>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <%- include("../partials/footer") %> 
    <script src="/js/listarCarrito.js"></script>
    <script src="/js/finalizarCompraCarrito.js"></script>
</body>

</html>