<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/header_footerMain.css">
        <link rel="stylesheet" href="/css/ProductDetail.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
        <%- include("../partials/header") %> 
        <main>
            <section>
                <div class="resumen">
                    <p> <%= producto.dataValues.p_category.name %> </p>
                    <p class="separadores">></p>
                    <p> <%= producto.dataValues.p_type.name %> </p>
                    <p class="separadores">></p>
                    <p class="producto"> <%= producto.dataValues.name %> </p>
                </div>
            </section>
            <section>
                <div class="container-izq-der">
                    <div class="container-izq">
                        <div class="container-principal">
                            <!-- <img class="imagen-principal" src="/images/ProductDetail/imagen1.jpg"> -->
                            <img class="imagen-principal" src="/images/ProductDetail/<%= producto.dataValues.img1 %>">
                        </div>
                        <div class="container-secundarias">
                            <img class="imagen-secundaria1" src="/images/ProductDetail/<%= producto.dataValues.img1 %>">
                            <img class="imagen-secundaria2" src="/images/ProductDetail/<%= producto.dataValues.img2 %>">
                            <img class="imagen-secundaria3" src="/images/ProductDetail/<%= producto.dataValues.img3 %>">
                        </div>
                    </div>
                    <div class="container-der">
                        <div class="colores">
                            <p class="titulo"> Mas colores</p>
                        <div>
                            <img class="imagen-secundaria4" src="/images/ProductDetail/<%= producto.dataValues.img3 %>">
                            <img class="imagen-secundaria5" src="/images/ProductDetail/<%= producto.dataValues.img4 %>">
                        </div>
                        <p class="color">Azul/Amarillo</p>
                    </div>
                    <hr class="hr1">
                    <div>
                        <p class="nombre"> <%= producto.dataValues.name %> </p>
                    </div>
                    <div>
                        <p class="precio"> <%= producto.dataValues.price %> </p>
                    </div>
                    <div class="talles">
                        <p class="titulo-talle">Talles disponibles</p>
                        <div class="talles-disp">
                            <div class="talle-S"><p class="letra">S</p></div>
                            <div class="talle-M"><p class="letra">M</p></div>
                            <div class="talle-X"><p class="letra">X</p></div>
                            <div class="talle-XL"><p class="letra">XL</p></div>
                        </div>
                        <div class="guia">
                            <p class="guia-talles">Guia de talles</p>
                        </div>
                    </div>
                    <div class="añadir-carrito">
                        <button id="agregar-producto">AÑADIR A CARRITO</button>
                    </div>
                    <div class="colores1">
                        <p class="titulo"> Mas colores</p>
                    <div>
                        <img class="imagen-secundaria4" src="/images/ProductDetail/<%= producto.dataValues.img1 %>">
                        <img class="imagen-secundaria5" src="/images/ProductDetail/<%= producto.dataValues.img4 %>">
                    </div>
                </div>
            </div>
        </div>
                <hr>
                <div class="detalles">
                    <p class="titulo-detalle">DETALLES DEL PRODUCTO</p>
                    <div class="descripcion-producto">
                        <h3>Descripcion</h3>
                        <%= producto.dataValues.descripcion %> 
                    </div>
                    <div class="detalles1">
                        <p class="sub-titulo">La publicación se muestra en talle <%= producto.dataValues.p_size.name %> </p>
                        <div class="detalles1">
                            <div class="sub-detalles"><div class="width"><p>Talles</p></div>	<p>Cintura: <%= producto.dataValues.waist %>; Pecho: <%= producto.dataValues.chest %>; Espalda: <%= producto.dataValues.back %></p></div>
                            <div class="sub-detalles"><div class="width"><p>Altura</p></div>	<p><%= producto.dataValues.height %> </p></div>
                        </div>
                    </div>
                </div>
                    <div class="detalles2">
                        <p class="sub-titulo">INFORMACION</p>
                        <div class="detalles1">
                            <div class="sub-detalles"><div class="width2"><p>Tela</p></div> <p><%= producto.dataValues.p_cloth.name %></p></div>
                            <div class="sub-detalles"><div class="width2"><p>Color</p></div> <p><%= producto.dataValues.p_color.name %></p></div>
                            <div class="sub-detalles"><div class="width2"><p>Código Artículo</p></div> <p><%= producto.dataValues.code %></p></div>
                        </div>
                    </div>

                </div>
            </section>
        </main>
        <%- include("../partials/footer") %> 
        <script src="/js/addProductoCarrito.js"></script>
    </body>
</html>
