<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/ProductDetail.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
        <%- include("../partials/header") %> 
        <main>
            <section>
                <div class="resumen">
                    <p> <%= productos.category %> </p>
                    <p class="separadores">></p>
                    <p> <%= productos.type %> </p>
                    <p class="separadores">></p>
                    <p class="producto"> <%= productos.name %> </p>
                </div>
            </section>
            <section>
                <div class="container-izq-der">
                    <div class="container-izq">
                        <div class="container-principal">
                            <img class="imagen-principal" src="/images/ProductDetail/imagen1.jpg">
                        </div>
                        <div class="container-secundarias">
                            <img class="imagen-secundaria1" src="/images/ProductDetail/imagen1.jpg">
                            <img class="imagen-secundaria2" src="/images/ProductDetail/imagen2.jpg">
                            <img class="imagen-secundaria3" src="/images/ProductDetail/imagen3.jpg">
                        </div>
                    </div>
                    <div class="container-der">
                        <div class="colores">
                            <p class="titulo"> Mas colores</p>
                        <div>
                            <img class="imagen-secundaria4" src="/images/ProductDetail/imagen1.jpg">
                            <img class="imagen-secundaria5" src="/images/ProductDetail/imagen4.jpg">
                        </div>
                        <p class="color">Azul/Amarillo</p>
                    </div>
                    <hr class="hr1">
                    <div>
                        <p class="nombre"> <%= productos.name %> </p>
                    </div>
                    <div>
                        <p class="precio"> <%= productos.price %> </p>
                    </div>
                    <div class="talles">
                        <p class="titulo-talle">Talles disponibles</p>
                        <div class="talles-disp">
                            <div class="talle-S"><p class="letra">S</p></div>
                            <div class="talle-M"><p class="letra">M</p></div>
                            <div class="talle-X"><p class="letra">X</p></div>
                            <div class="talle-XL"><p class="letra">XL</p></div>
                        </div>
                        <div class="guia">
                            <p class="guia-talles">Guia de talles</p>
                        </div>
                    </div>
                    <div class="añadir-carrito">
                        <button>AÑADIR A CARRITO</button>
                    </div>
                    <div class="colores1">
                        <p class="titulo"> Mas colores</p>
                    <div>
                        <img class="imagen-secundaria4" src="/images/ProductDetail/imagen1.jpg">
                        <img class="imagen-secundaria5" src="/images/ProductDetail/imagen4.jpg">
                    </div>
                </div>
            </div>
        </div>
                <hr>
                <div class="detalles">
                    <p class="titulo-detalle">DETALLES DEL PRODUCTO</p>
                    <div class="descripcion-producto">
                        <h3>Descripcion</h3>
                        <%= productos.description %> 
                    </div>
                    <div class="detalles1">
                        <p class="sub-titulo">Nuestro modelo viste talle <%= productos.size %> </p>
                        <div class="detalles1">
                            <div class="sub-detalles"><div class="width"><p>Talles</p></div>	<p><%= productos.waist %>; <%= productos.chest %>; <%= productos.back %></p></div>
                            <div class="sub-detalles"><div class="width"><p>Altura</p></div>	<p><%= productos.height %> </p></div>
                        </div>
                    </div>
                </div>
                    <div class="detalles2">
                        <p class="sub-titulo">INFORMACION</p>
                        <div class="detalles1">
                            <div class="sub-detalles"><div class="width2"><p>Tela</p></div> <p><%= productos.cloth %></p></div>
                            <div class="sub-detalles"><div class="width2"><p>Color</p></div> <p><%= productos.color %></p></div>
                            <div class="sub-detalles"><div class="width2"><p>Código Artículo</p></div> <p><%= productos.code %></p></div>
                        </div>
                    </div>

                </div>
            </section>
        </main>
        <%- include("../partials/footer") %> 
    </body>
</html>
