<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header_footerMain.css">
    <link rel="stylesheet" href="/css/Index.css">
    <title>Todo deportes</title>
</head>
<body>
    <%- include("../partials/header") %>
    <main>
        <section class="main-producto-destacado">    <!--Esto es para el placeholder del carousel de productos, todavia no se como se hace :D-->
            <div class="main-producto-destacado-container-imagen">
                <img class="main-producto-destacado-imagen" src="/images/index/img-cai.jpg" alt="carousel de productos">
            </div>
            <h2 class="main-producto-destacado-nombre"><%= productos[5].name %> </h2>
            <div class="main-producto-destacado-descripcion">
                <p><%= productos[5].description %></p>
            </div>
            <div>
                <a href="/productos/detalle/<%= productos[5].id %>"><button class="main-producto-destacado-boton">Ver más</button></a>
            </div>
            <div>
                <img class="main-producto-destacado-icono-flecha-derecha" src="/images/index/mayorque.svg" alt="flecha derecha">
            </div>
            <div>
                <img class="main-producto-destacado-icono-flecha-izquierda" src="/images/index/menorque.svg" alt="flecha izquierda">
            </div>
        </section>
        <h2>Temporada 2021/22</h2>
        <section class="main-temporada">
            <article>
                <img class="main-imagen-producto" src="/images/ProductDetail/<%= productos[0].img1 %>" alt="Imagen producto">
                <a href="/productos/detalle/1"><div class="main-texto-temporada">Ir al producto</div></a>
                <a href="/productos/detalle/1"><div class="main-textoequipo-temporada"><%= productos[0].name %></div></a>
                <div class="main-temporada-contenedor-boton"><a href="/productos/detalle/1"><button class="main-temporada-boton"><%= productos[0].name %></button></a></div>
            </article>
            <article>
                <img class="main-imagen-producto" src="/images/ProductDetail/<%= productos[1].img1 %>" alt="Imagen producto">
                <a href="/productos/detalle/2"><div class="main-texto-temporada">Ir al producto</div></a>
                <a href="/productos/detalle/2"><div class="main-textoequipo-temporada"><%= productos[1].name %></div></a>
                <div class="main-temporada-contenedor-boton"><a href="/productos/detalle/2"><button class="main-temporada-boton"><%= productos[1].name %></button></a></div>
            </article>
            <article>
                <img class="main-imagen-producto" src="/images/ProductDetail/<%= productos[2].img1 %>" alt="Imagen producto">
                <a href="/productos/detalle/3"><div class="main-texto-temporada">Ir al producto</div></a>
                <a href="/productos/detalle/3"><div class="main-textoequipo-temporada"><%= productos[2].name %></div></a>
                <div class="main-temporada-contenedor-boton"><a href="/productos/detalle/3"><button class="main-temporada-boton"><%= productos[2].name %></button></a></div>
            </article>
            <article>
                <img class="main-imagen-producto" src="/images/ProductDetail/<%= productos[3].img1 %>" alt="Imagen producto">
                <a href="/productos/detalle/4"><div class="main-texto-temporada">Ir al producto</div></a>
                <a href="/productos/detalle/4"><div class="main-textoequipo-temporada"><%= productos[3].name %></div></a>
                <div class="main-temporada-contenedor-boton"><a href="/productos/detalle/4"><button class="main-temporada-boton"><%= productos[3].name %></button></a></div>
            </article>
        </section>
        <h2 class="main-recomendado">Recomendado para tí</h2>
        <section class="main-recomendado">
            <article>
                <img class="main-recomendado-imagen" src="/images/ProductDetail/<%= productos[4].img1 %>" alt="Imagen producto">
                <a href="/productos/detalle/5"><div class="main-recomendado-nombre"><%= productos[4].name %></div></a>
                <div>$ <%= productos[4].price %></div>
            </article>
            <article>
                <img class="main-recomendado-imagen" src="/images/ProductDetail/<%= productos[5].img1 %>" alt="Imagen producto">
                <a href="/productos/detalle/6"><div class="main-recomendado-nombre"><%= productos[5].name %></div></a>
                <div>$ <%= productos[5].price %></div>
            </article>
        </section>
        <section class="main-categorias-contenedor">
            <h2>Categorías</h2>
            <a href="/"><div>Hombres<img class="main-categorias-flecha" src="/images/index/flecha-derecha.svg" alt="flecha derecha"></div></a>
            <a href="/"><div>Mujeres<img class="main-categorias-flecha" src="/images/index/flecha-derecha.svg" alt="flecha derecha"></div></a>
            <a href="/"><div>Infantil<img class="main-categorias-flecha" src="/images/index/flecha-derecha.svg" alt="flecha derecha"></div></a>
        </section>
        <section class="main-descuento">
            <h2 class="main-descuento-texto">Registrate y conseguí 15% de descuento</h2>
            <a href="/users/register"><div class="main-descuento-contenedor">
                Registrarse ahora
            </div></a>
        </section>
        <section class="main-volver-arriba">
            <div><a href="/">Volver al inicio<img class="main-volver-arriba-flecha" src="/images/index/flecha-arriba.svg" alt="flecha arriba"></a></div>
        </section>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>