<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header_footerMin.css">
    <link rel="stylesheet" href="/css/Recover.css">
    <title>Recuperar contraseña</title>
</head>
<body>
    <%- include("../partials/headerUsers") %>
    <main>
        <h2>Recuperar contraseña</h2>
        <div>
            <form action="/users/recover?_method=PATCH" method="POST">
                <div class="container">
                    <label for="txtRecEmail">Correo electronico asociado a tu cuenta:</label><br>
                    <input type="text" name="txtRecEmail" id="txtRecEmail" placeholder="Email" required  value="<%= locals.old && old.txtRecEmail %>">
                    <p id="inputErrorUserRecEmail" class="erroresInput"></p>
                    <% if (locals.errors && errors)  { %>
                        <% errors.forEach(error => { %>
                            <% if (error.param == 'txtRecEmail') { %>
                                <p class="erroresValidation"><%= error.msg %></p>
                            <% } %> 
                        <% }) %>
                    <% } %>
                </div>
                <div class="container">
                    <label for="txtRecTel">Telefono asociado a tu cuenta:</label><br>
                    <input type="number" name="txtRecTel" id="txtRecTel" minlength="8" maxlength="14" required  value="<%= locals.old && old.txtRecTel %>">
                    <p id="inputErrorUserRecTelefono" class="erroresInput"></p>
                    <% if (locals.errors && errors)  { %>
                        <% errors.forEach(error => { %>
                            <% if (error.param == 'txtRecTel') { %>
                                <p class="erroresValidation"><%= error.msg %></p>
                            <% } %> 
                        <% }) %>
                    <% } %>
                </div>
                <div class="container">
                    <label for="txtRecPass">Nueva contraseña:</label><br>
                    <input type="password" name="txtRecPass" id="txtRecPass" placeholder="Contraseña" required><br>
                    <p id="inputErrorUserRecContraseña" class="erroresInput"></p>
                    <% if (locals.errors && errors)  { %>
                        <% errors.forEach(error => { %>
                            <% if (error.param == 'txtRecPass') { %>
                                <p class="erroresValidation"><%= error.msg %></p>
                            <% } %> 
                        <% }) %>
                    <% } %>
                    <input type="password" name="txtRecPassConfirm" id="txtRecPassConfirm" placeholder="Confirmar contraseña" required>
                    <p id="inputErrorUserRecContraseñaConfirm" class="erroresInput"></p>
                </div>
                <div class="container">
                    <button>Enviar</button>
                </div>
            </form>
        </div>
    </main>
    <%- include("../partials/footerUsers") %>
</body>
</html>